@font-face {
    font-family: 'Fuente1';
    src: url('../fonts/Chalkboy.ttf') format('woff'); /* Safari, Android, iOS */
  }

#grid {
    background: #fdf0ff;
}

#title {
    font-family: 'Fuente1';
}